@mixin for-phone-only {
    @media (max-width: 599px) { @content; }
}
@mixin for-tablet-portrait-up {
    @media (min-width: 600px) { @content; }
}

@mixin for-tablet-landscape-up {
    @media (min-width: 900px) { @content; }
}

@mixin for-desktop-up {
    @media (min-width: 1200px) { @content; }
}

@mixin for-big-desktop-up {
    @media (min-width: 1800px) { @content; }
}

.post-list{
    padding: 0;
    margin: 0;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;

    @include for-tablet-portrait-up(){
        flex-direction: row;
    }

    li{
        list-style: none;
        margin-bottom: auto;
        display: flex;
        padding: 0;


        @include for-tablet-portrait-up(){
            width: 48%;
        }

        a{
            width: 100%;
            text-align: center;
            color: #fff;
            text-decoration: none;
            margin-bottom: 100px;

            @include for-tablet-portrait-up(){
                margin-bottom: 50px;
            }
        }
        
    }
}